/*  eneco main css - shared between modules */
/* fonts */
@font-face {
    font-family: 'EtelkaPro';
    src: url('font/etelkalightpro-webfont.eot');
    src: url('font/etelkalightpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/etelkalightpro-webfont.woff') format('woff'),
         url('font/etelkalightpro-webfont.ttf') format('truetype'),
         url('font/etelkalightpro-webfont.svg#EtelkaLightProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'EtelkaPro';
    src: url('font/etelkamediumpro-webfont.eot');
    src: url('font/etelkamediumpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/etelkamediumpro-webfont.woff') format('woff'),
         url('font/etelkamediumpro-webfont.ttf') format('truetype'),
         url('font/etelkamediumpro-webfont.svg#EtelkaMediumProRegular') format('svg');
    font-weight: bold;
    font-style: bold;

}
/* global elements */
HTML, BODY {
	margin:0;
	padding:0;
}

input {
    height: 35px;
    /*line-height:35px;*/
    border: 1px solid #C5C8C9;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    font-size: 22px;
    width:100%;
}
input.error{
	border: 2px solid #00afd8;

}
select {
   -webkit-appearance: none;
  /* background: url(images/select_bkg.png) no-repeat right center;*/
   height:40px;
   border-width: 5px 53px 5px 10px;
	padding:0 10px;
 }
 select.error{
 }
hr{
	width:95%;
	border-bottom: 2px dotted ; 
	height: 0; 
	border-style: none none dotted;
}
::-webkit-input-placeholder
{
  color: #00afd8;
  font-size:14px;
}
/*box layout*/
.hbox
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
.hbox > *
{
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
.hboxAlign{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
}
.vbox
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
.vbox > *
{
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
.spacer
{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.reverse
{
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
.boxFlex0
{
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
.boxFlex1, .boxFlex
{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.boxFlex2
{
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
.boxGroup1
{
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
.boxGroup2
{
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
.start
{
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
.end
{
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
.center
{
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
/* layout */
.container { width: 95%;height:60px;line-height: 60px; }
.container p{
	line-height: 1em;
	width:90%;
	margin:20px 10px;
	color:#999;
	font-size: 12px;
}
.container2{
	width:100%;
	height:115px;
}
.column { float: left; margin-right: 10px; }
.column2 { float: left; margin-right: 5px; margin-left: 5px;}
.span-6 { width: 30%; }
.span-7 { width: 35%; text-align: right;font-weight: bold;}
.span-5 { width: 25%; text-align: right;font-weight: bold;}
.span-5-m { width: 25%; text-align: center;font-weight: bold;}
.span-4 { width: 20%; }
.span-3 { width: 16%; }
.last { margin-right: 0; }
.span-8 { width: 40%; }
.span-9 { width: 45%; }
.span-10 { width: 48%; }
.span-1 { width: 5%; }
.span-2 { width: 10%; }
.span-12 { width: 60%; }
.span-18 { width: 100%; }


/* global */

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family:"EtelkaPro";
}

.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.lh35{
	line-height:35px;
}
.margin_tb_30{
	margin:30px 0;
}
.margin_lr_a{
	margin:0 20px;
}
.margin_lr_b{

}
.padding_tb_30{
	padding:30px 0;
}
.full{
	width:100%;
	height:100%;
}
.redForQbutton{
	color:#d21242;
	font-weight:bold;
	font-size:24px;
}
.bold{
	font-weight:bold;
}
.whiteArrow{
	background:url(images/arrow_white.png) left no-repeat;
	width:30px;
	height:30px;
}
.whiteArrowLeft{
	background:url(images/arrow_white_left.png) left no-repeat;
	width:30px;
	height:30px;
}
.buttonGrey{
	border-width: 5px;
	-moz-border-image: url(images/but_big_grey_simple.png) 5;
	-webkit-border-image: url(images/but_big_grey_simple.png) 5 ;
	-o-border-image: url(images/but_big_grey_simple.png) 5 ;
	text-align: center;
}
.buttonGrey.select{
	-moz-border-image: url(images/but_big_grey_simple_active.png) 5;
	-webkit-border-image: url(images/but_big_grey_simple_active.png) 5 ;
	-o-border-image: url(images/but_big_grey_simple_active.png) 5 ;
	color:white;
}
.buttonGrey.error{
}
.buttonGrey.action{
	-moz-border-image: url(images/but_actionred_simple.png) 5;
	-webkit-border-image: url(images/but_actionred_simple.png) 5 ;
	-o-border-image: url(images/but_actionred_simple.png) 5 ;
	color:white;
	font-size:22px;
}
.buttonGrey.action.error{
}
.buttonDoubleGrey{
	border-width: 5px;
	-moz-border-image: url(images/but_big_grey_double.png) 5;
	-webkit-border-image: url(images/but_big_grey_double.png) 5 ;
	-o-border-image: url(images/but_big_grey_double.png) 5 ;
	text-align: center;
	padding:3px;
}
.buttonDoubleGrey.select{
	-moz-border-image: url(images/but_big_grey_double_active.png) 5;
	-webkit-border-image: url(images/but_big_grey_double_active.png) 5 ;
	-o-border-image: url(images/but_big_grey_double_active.png) 5 ;
	color:white;
}

.panelLeft{
	width:30%;
	color:white;
	height:100%;
}
.panelRight{
	width:70%;
	background:#eee;
}
.panelWhiteRound{
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width:95%;
	margin: 10px auto 0px auto;
	border: 1px solid #ccc;
}
.redGradientVertical{
	background-image: -o-linear-gradient(bottom, #B51A3D 1%, #E11A43 100%);
	background-image: -moz-linear-gradient(bottom, #B51A3D 1%, #E11A43 100%);
	background-image: -webkit-linear-gradient(bottom, #B51A3D 1%, #E11A43 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#B51A3D), color-stop(100%,#E11A43));
	background-image: -ms-linear-gradient(bottom, #B51A3D 1%, #E11A43 100%);
}

#backgroundLightBox{
	position:fixed;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	z-index: 1;
	background:rgba(0,0,0,0.7);
	opacity: 1;
	display:none;
}
.lightBox{
	color:black;
	background: black;
	position: absolute;
	width:300px;
}
.title_lb{
	height:2em;
	background: #d21242;
	background-repeat:no-repeat;
	color:white;
	font-size:1em;
	line-height:2em;
	text-align:center;
}
.content_lb{
	padding:10px 10px;
	text-align:center;
	color:#888;
	background-color: white;
	font-size:13px;
}
.helpLine{
	width:95%;
	height:60px;
	margin:5px 10px;
	border-bottom: 2px dotted white;
	font-size: 18px;
	font-weight: bold;
	clear:both;
	position:relative;
}
.helpText{
	float:left;
	padding-top:8px;
}
.doubleBorder{
	border: 4px double #C5C8C9;	
}
.Qbutton{
	background:url(images/but_small_grey_double.png) left no-repeat;
	width:40px;
	line-height: 40px;
	text-align:center;
} 
.QbuttonSmall{
	/*background:url(images/but_small_grey_double.png) left no-repeat;*/
	border-width: 5px;
	-moz-border-image: url(images/but_big_grey_double.png) 5;
	-webkit-border-image: url(images/but_big_grey_double.png) 5 ;
	text-align: center;
	padding:3px;
	width:15px;
	line-height: 15px;
	text-align:center;
	margin-right:10px;
}    
.QbuttonSimpleGrey{
	background:url(images/but_small_grey_simple.png) left no-repeat;
	width:35px;
	line-height: 35px;
	text-align:center;
	color: #d21242;
	font-weight: bold;
	font-size: 28px;
	padding-top: 10px;
	margin-top:-5px;
	
}
.QbuttonSimpleGrey.select{
	color: white;
}
.Qmark{
	background:url(images/but_qm_white.png) left no-repeat;
	width:40px;
	height:40px;
	line-height: 40px;
	text-align:center;
	margin-left: 5px;
	float:left;
	display:none;
}
.QmarkBlue{
	background:url(images/but_qm_blue.png) left no-repeat;
	width:40px;
	height:55px;
	line-height: 40px;
	text-align:center;
	margin-left: 5px;
	float:left;
	display:none;
}
.button_left{
	border-width: 5px;
	-moz-border-image: url(images/but_toggle_left.png) 5;
	-webkit-border-image: url(images/but_toggle_left.png) 5 ;
	-o-border-image: url(images/but_toggle_left.png) 5 ;
	text-align: center;
	margin: 0 0 0 1%;
	
}
.button_left.select{
	-moz-border-image: url(images/but_toggle_left_active.png) 5;
	-webkit-border-image: url(images/but_toggle_left_active.png) 5 ;
	-o-border-image: url(images/but_toggle_left_active.png) 5 ;
	color:white;
}
.button_middle{
	border-width: 5px;
	-moz-border-image: url(images/but_toggle_middle.png) 5;
	-webkit-border-image: url(images/but_toggle_middle.png) 5 ;
	-o-border-image: url(images/but_toggle_middle.png) 5 ;
	text-align: center;
	
	
}
.button_middle.select{
	-moz-border-image: url(images/but_toggle_middle_active.png) 5;
	-webkit-border-image: url(images/but_toggle_middle_active.png) 5 ;
	-o-border-image: url(images/but_toggle_middle_active.png) 5 ;
	color:white;
}
.button_right{
	border-width: 5px;
	-moz-border-image: url(images/but_toggle_right.png) 5;
	-webkit-border-image: url(images/but_toggle_right.png) 5 ;
	-o-border-image: url(images/but_toggle_right.png) 5 ;
	text-align: center;
	
	
}
.button_right.select{
	-moz-border-image: url(images/but_toggle_right_active.png) 5;
	-webkit-border-image: url(images/but_toggle_right_active.png) 5 ;
	-o-border-image: url(images/but_toggle_right_active.png) 5 ;
	color:white;
}
.buttonLarge{
	line-height:30px;
	padding:5px 20px;
	margin: 5px 20px;
}
.hrOrange{
	color:#c9761c;
}
.hrWhite{
	color:white;
}
.ok{
	background:url(images/but_ok.png) left no-repeat;
	width:32px;
	height:32px;
	text-align:center;
	margin-left: 5px;
	padding-top:;
	display: none;
}


.choiceTitle h3{
 color:#d21242;
 font-size: 40px;
 margin:10px 10px;
 line-height: 70px;
}

.orange{
	color:#c9761c;	
}
.white{
	color:white;	
}


.choiceCont{
	clear:left;
	height:120px;
	
}
.choiceMiddle{
	width:50%;
	height:90%;
}
.choicepic1,.choicepic2,.choicepic3 {
	
	background-size:100%;
	width:110px;
	height:90%;
	margin-top:10px;
}

.mediumGreyTxt{
	color:#999;
	font-size: 12px;
	margin:3px;
}
.mediumGreyTxt.select{
	color:orange;
}
.mediumBlackTxt{
	color:black;
	font-size: 16px;
	margin:3px;
}

.mediumBlackTxtBold{
	color:black;
	font-size: 16px;
	margin:15px 3px;
	font-weight: bold;
}
.mediumBlackTxtBold.select{
	color:white;
}
.fieldLine{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
	display: box;
	box-orient: horizontal;
	box-align: stretch;
	margin:15px 10px;
	padding: 10px 0;
	
}



#geslach{
 padding-top: 8px;	
 margin-left: 15px;
 width:120px;
}


 /*  elements    */
 #sep_top{
 	width:100%;
 	height:80px;
 }


#postcodeLabel{
	font-weight:bold;
	padding-top:10px;
	padding-right:10px;
	font-size:18px;
}
#postCode{
	width:100px;
	float:left;
	margin-top: 3px;
}
#formPanelRightHead{
	height:50px;
	padding: 5px 10px 5px 20px;
}

#houseTypeCont{
	text-align:center;
}
#houseYearCont{
	font-size:13px;
}

#startButton{
}

#exactConsoCont{
	display:none;
		
}
#result{
	display:none;
}

#debug{
	background:#fff;
	font-size:11px;
	color:black;
	width:100%;
	height:60px;
	display:none;
}
/* classes */

/*
 * about things width in right panel : basic is 19% or 17% + 1% margin. + box align center.
 */


.hidden{
	display: none;	
}
.radioDisabled{
	opacity :0.2;
}


.panelHidden{
	display: none;
}
.panelRightTitle{
	width:57%;
	color:#d21242;
	font-size: 30px;
	font-weight:bold;
	margin:10px 5px;
	line-height: 70px;
}

.bigButton{
	width: 17%;
	height:80px;
	margin:1%;
	font-size : 12px;
	vertical-align:bottom;
}
.bigButton p{
	position: relative;
	top:-30px;
	color:#999;
}
.bigButton.select p{
	color:white;
}
.smallRoundButton{
	width:19%;
	height:50px;
	line-height:50px;
	font-size : 12px;
	background-image: -o-linear-gradient(top, #FCFCFC 54%, #D6D6D6 100%);
	background-image: -moz-linear-gradient(top, #FCFCFC 54%, #D6D6D6 100%);
	background-image: -webkit-linear-gradient(top, #FCFCFC 54%, #D6D6D6 100%);
	background-image: -ms-linear-gradient(top, #FCFCFC 54%, #D6D6D6 100%);
}
.smallRoundButton.select{
	background: red;
}

.whiteButton{
	width:37%;
	height:40px;
	margin:1%;
}

.spacerH{
	width:31px;
	height:35px;
	margin-right:10px;
}
.alignRight{
	position: relative;
	float: right;
	right: 0;
	top: 0;	
}
.extendedBackground{
	background-color:white;
	margin: -10px auto 20px auto;
	width:95%;
}
.productCont{
	background:#eee;
	margin:10px;
	display: none;	
}
.borderPointRight{
 border-right: dotted	1px orange;
}
.contentMargin{
	margin:10px;	
}
.contentMargin h3{
	color:#d21242;
	font-size:24px;
	margin-bottom:0;
}
.contentMargin h6{
	color:#d21242;
	font-size:16px;
	margin-bottom: 50px;
}
.contentMargin ul{
	list-style:none;
	padding:0;
}

.resBottom{
	width:100%;
	background:white;	
}
.head{
	font-weight: bold;
	cursor:hand;
	margin-bottom:10px;
}
.sub{
	display: none;
	padding-left:30px;
}
.tleft , .tleftSub{
	float: left;
	width:460px;
	color: #808080;
	font-weight:bold;
	font-size:18px;
	margin:6px 0;
}
.tleftSub{
	width:430px;
	color:black;
	font-weight:normal;
	font-size:16px;
}
.tmiddle{
	float: left;
	color:#808080;
	font-size:18px;
	font-weight:bold;
	margin: 6px 0;
}
.tmiddleSub{
	float: left;
	color:black;
	font-size:16px;
	margin: 6px 0;
}
.tright{
	float: right;
	text-align: right;
	color:#808080;
	font-size:18px;
	font-weight:bold;
	margin:6px 0;
	width:150px;
}
.trightSub{
	float: right;
	text-align: right;
	color:black;
	font-size:16px;
	width:150px;
	margin: 6px 0;
}
.black{
	color:black;
}
.clear{
	clear: both;	
}
.meerinfos{
	padding: 20px 5px;	
}
.bottomPanelRoundShade{
	background-image: -o-linear-gradient(top, #e2e2e2 21%, #FFFFFF 61%);
	background-image: -moz-linear-gradient(top, #e2e2e2 21%, #FFFFFF 61%);
	background-image: -webkit-linear-gradient(top, #e2e2e2 21%, #FFFFFF 61%);
	background-image: -ms-linear-gradient(top, #e2e2e2 21%, #FFFFFF 61%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.21, #e2e2e2),
		color-stop(0.61, #FFFFFF)
	);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	height: 60px;
	padding: 10px 10px;
}
.bottomPanelRoundShade.open{
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
}

#NewSimuButton{
	position:fixed;
	bottom:20px;
	left:20px;
}
#addonVersion{
	position: absolute;
	top: 5px;
	left: 10px;
	color: #000000;
}

#preventOverlay {
    position: absolute;
    background-color: rgba(146, 146, 146, 0.5);
    margin: 10px 0 0 21px;
    width: 809px;
    height: 301px;
}

.form-top-box {
    padding: 20px 20px 10px;
    height: 55px;
}

.form-box-element {
	padding: 0px 60px 5px;
    height: 40px;
}

.form-box {
	padding: 0px 20px 0px;
    height: 55px;
}

.pos_fixed {
    position: fixed;
    top: 30px;
    right: 5px;
    height: 70%;
    width: 60%;
}